# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# m h dom mon dow user	command
17 *	* * *	root    cd / && run-parts --report /etc/cron.hourly
25 6	* * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
47 6	* * 7	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
52 6	1 * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
#execucao do script de backups
0,30 * * * * ubuntu /home/ubuntu/backup.sh
29,59 * * * * root rsync -zarvh /etc/postfix/main.cf /Backups/postfix
29,59 * * * * root rsync -zarvh /etc/postfix/master.cf /Backups/postfix
29,59 * * * * root rsync -zarvh /etc/dovecot/conf.d/10-mail.conf /Backups/dovecot
29,59 * * * * root rsync -zarvh /etc/dovecot/conf.d/20-pop3.conf /Backups/dovecot
29,59 * * * * root rsync -zarvh /etc/dovecot/conf.d/10-ssl.conf /Backups/dovecot
29,59 * * * * root rsync -zarvh /etc/dovecot/conf.d/10-master.conf /Backups/dovecot
29,59 * * * * root rsync -zarvh /etc/dovecot/conf.d/10-auth.conf /Backups/dovecot
29,59 * * * * root rsync -zarvh /etc/rsyslog.d/50-default.conf /Backups
29,59 * * * * root rsync -zarvh /etc/ssh/sshd_config /Backups
29,59 * * * * root rsync -zarvh /etc/ssh/banner /Backups
#
